@font-face {
	font-family: 'FedraSansAltPro-BookTF';
	src: url('../fonts/FedraSansAltPro-BookTF.eot');
	src: local('☺'), url('../fonts/FedraSansAltPro-BookTF.woff') format('woff'), url('../fonts/FedraSansAltPro-BookTF.ttf') format('truetype'), url('../fonts/FedraSansAltPro-BookTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FedraSansAltPro-MediumTF';
	src: url('../fonts/FedraSansAltPro-MediumTF.eot');
	src: local('☺'), url('../fonts/FedraSansAltPro-MediumTF.woff') format('woff'), url('../fonts/FedraSansAltPro-MediumTF.ttf') format('truetype'), url('../fonts/FedraSansAltPro-MediumTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html, div {
	margin: 0;
	padding: 0;
}
.disable #disable {
	position: fixed;
	z-index: 1000;
	background: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	color: #50b848;
	font-family: 'FedraSansAltPro-MediumTF';
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
#disable #in {
	padding-top: 400px;
}
.la-ball-clip-rotate-pulse.la-2x {
	margin: 30px auto !important;
	color: #50b848;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/* Корабль */
#ship {
	background: #e4e9ed;
	width: 1920px;
	height: 1080px;
	position: absolute;
}
.arrow {
	position: absolute;
	display: none;
	z-index: 9;
}
#arrowUP {
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}
#arrowDown {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}
#arrowRight {
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
}
#arrowLeft {
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
}
#pl {
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 8px 0;
	z-index: 7;
}
#places {
	position: relative;
	padding: 8px 0;
	background: #fff;
	width: 230px;
}
#places a:before {
	position: absolute;
	display: block;
	left: -8px;
	width: 8px;
	height: 40px;
	content: '';
}
#places a {
	display: block;
	position: relative;
	right: -8px;
	padding-left: 20px;
	line-height: 40px;
	font-size: 12px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'FedraSansAltPro-MediumTF';
}
#places a:hover {
	text-decoration: underline;
}
#places a.active {
	color: #fff;
	background: #50b848;
}
#places a.active:before {
	background: #63d15b;
}

#mouse {
	display: block;
	font-family: 'FedraSansAltPro-BookTF';
	background: url(../img/mouse.png) left center no-repeat;
	font-family: 'FedraSansAltPro-BookTF';
	font-size: 14px;
	color: #000000;
	margin: 0;
	line-height: 30px;
	height: 30px;
	padding-left: 35px;
	margin-left: 27px;
	margin-top: 26px;
}

#pc a {
	display: block;
	position: absolute;
	width: 34px;
	height: 34px;
	background: url(../img/circle.png) center center no-repeat;
	text-decoration: none;
	z-index: 6;
}

#pc1 {
    top: 400px;
    left: 1240px;
}
#pc2 {
    top: 525px;
    left: 1000px;
}
#pc3 {
    top: 525px;
    left: 1245px;
}
#pc4 {
    left: 500px;
    top: 780px;
}
#pc5 {
    top: 690px;
    left: 330px;
}
#pc7 {
    top: 610px;
    left: 750px;
}
#pc6 {
    top: 660px;
    left: 1220px;
}
#pc {
    top: 400px;
    left: 1240px;
}
#pc a.active {
	background: url(../img/circlea.png) center center no-repeat;
	z-index: 9;
}
#clouds img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
#clouds img#c1 {
	top: 345px;
}
#clouds img#c2 {
	top: 215px;
}
#clouds img#c3 {
	top: 80px;
}
#clouds img#c4 {
	top: 480px;
}
#clouds img#c5 {
	top: 45px;
}
#myship {
	position: absolute;
	left: 50px;
	top: 170px;
	z-index: 4;
}
#water {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 5;
}
#ice {
    position: absolute;
    left: 120%;
    bottom: 70px;
    z-index: 5;
}
#dron {
	position: absolute;
	z-index: 5;
	left: 1462px;
	top: 531px;
}
#pcI {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
#pcI img {
    opacity: 0;
}
#pcI img.active {
    opacity: 1;
}
#pcI1 {
    position: absolute;
    left: 1084px;
    top: 385px;
}
#pcI2 {
    position: absolute;
    left: 818px;
    top: 543px;
}
#pcI3 {
    position: absolute;
    left: 1085px;
    top: 542px;
}
#pcI4 {
    position: absolute;
    left: 248px;
    top: 747px;
}
#pcI5 {
    position: absolute;
    left: 241px;
    top: 718px;
}
#pcI6 {
    position: absolute;
    left: 1182px;
    top: 648px;
}
#pcI7 {
    position: absolute;
    left: 616px;
    top: 619px;
}
#opis.pc1 {
    left: 1257px;
    top: 208px;
}
#opis.pc2 {
    left: 1015px;
    top: 335px;
}
.op05 {
	opacity: 0.5 !important;
}
#opis.pc3 {
    left: 1261px;
    top: 335px;
}
#opis.pc4 {
    left: 517px;
    top: 590px;
}
#opis.pc5 {
    left: 348px;
    top: 501px;
}
#opis.pc6 {
    left: 1235px;
    top: 469px;
}
#opis.pc7 {
    left: 766px;
    top: 419px;
}
#opis {
    background: url(../img/opis.png);
    padding: 20px 151px 20px 15px;
    height: 170px;
    position: absolute;
    left: 0;
    z-index: 7;
    width: 170px;
}
#title {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'FedraSansAltPro-MediumTF';
}
#cont {
	font-size: 14px;
	color: #ffffff;
	margin: 0;
	font-family: 'FedraSansAltPro-BookTF';
}
#share {
	position:absolute;
	z-index: 9;
	bottom: 0;
	right: 50px;
}
#share a#now {
    display: inline-block;
    float: right;
    padding: 0 47px 0 15px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background: #fbe400 url(../img/share.png) 124px 10px no-repeat;
    font-size: 14px;
    font-family: 'FedraSansAltPro-MediumTF';
}
.clr {
	clear: both;
}
#sherebot {
	padding: 10px;
	background: #fff;
	display: none;
}

#sherebot ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: auto;
}

#sherebot ul li {
	display: inline-block;
}

#sherebot ul>li a {
	background: url(../img/soc.png) center center no-repeat;
	width: 47px;
	height: 47px;
	display: block;
	text-indent: -9999px;
}

#sherebot ul>li:nth-child(1) a {	background-position: 0 0;}
#sherebot ul>li:nth-child(2) a {	background-position: -60px 0;}
#sherebot ul>li:nth-child(3) a {	background-position: -121px 0;}
#sherebot ul>li:nth-child(4) a {	background-position: -182px 0;}
#sherebot ul>li:nth-child(5) a {	background-position: -243px 0;}
#sherebot ul>li:nth-child(6) a {	background-position: -304px 0;}



.ice {
    position: absolute;
    bottom: 146px;
    left: 100%;
    z-index: 5;
}


/* Интро */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0,0,0,0.5);
}

#firstScreen {
	width: 675px;
	height: 690px;
	position: fixed;
	top: 50%;
	margin-top: -345px;
	left: 50%;
	margin-left: -337.5px;
	z-index: 10;
}

#firstScreen .top {
	width: 675px;
	height: 405px;
	background: #f6dc34;
}

#firstScreen .bottom {
	width: 675px;
	height: 285px;
	position: relative;
}

#firstScreen .bottom div {
	height: 95px;
	background: #f6dc34;
	position: absolute;
	
}

#firstScreen .bottom .sq1 {
	width: 390px;
	top: 0;
	left: 0;
}

#firstScreen .bottom .sq2 {
	width: 95px;
	top: 0;
	left: 390px;
}

#firstScreen .bottom .sq3 {
	width: 95px;
	top: 0;
	right: 95px;
	opacity: 0.9;
}

#firstScreen .bottom .sq4 {
	width: 95px;
	top: 0;
	right: 0;
	opacity: 0.8;
}

#firstScreen .bottom .sq5 {
	width: 95px;
	top: 95px;
	right: 190px;
	opacity: 0.9;
}

#firstScreen .bottom .sq6 {
	width: 95px;
	top: 95px;
	right: 95px;
	opacity: 0.8;
}

#firstScreen .bottom .sq7 {
	width: 95px;
	top: 95px;
	right: 0;
	opacity: 0.6;
	display: none;
}

#firstScreen .bottom .sq8 {
	width: 95px;
	top: 190px;
	right: 0;
	opacity: 0.5;
	display: none;
}

.fScont h3 {
    margin: 0;
    display: block;
    padding: 0;
    font-family: 'FedraSansAltPro-BookTF';
    font-weight: normal;
    color: #000;
    font-size: 48px;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 553px;
}

.fScont>h3:nth-child(2) {
	top: 100px;
}

.fScont>img {
	top: 305px;
	left: 35px;
	display: block;
	position: absolute;
}

.fScont p {
    margin: 0;
    display: block;
    padding: 0;
    font-family: 'FedraSansAltPro-BookTF';
    color: #000;
    font-size: 22px;
    position: absolute;
    top: 180px;
    width: 592px;
    left: 35px;
}

.fScont a {
    margin: 0;
    display: block;
    padding: 0;
    font-family: 'FedraSansAltPro-MediumTF';
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    width: 350px;
    line-height: 67px;
    background: #50b849;
    text-align: center;
    top: 405px;
    left: 34px;
}

.fScont a:hover {
	background: #41913b;
}

