@font-face {
	font-family: 'FedraSansAltPro-BookTF';
	src: url('../fonts/FedraSansAltPro-BookTF.eot');
	src: local('☺'), url('../fonts/FedraSansAltPro-BookTF.woff') format('woff'), url('../fonts/FedraSansAltPro-BookTF.ttf') format('truetype'), url('../fonts/FedraSansAltPro-BookTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FedraSansAltPro-MediumTF';
	src: url('../fonts/FedraSansAltPro-MediumTF.eot');
	src: local('☺'), url('../fonts/FedraSansAltPro-MediumTF.woff') format('woff'), url('../fonts/FedraSansAltPro-MediumTF.ttf') format('truetype'), url('../fonts/FedraSansAltPro-MediumTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html, div {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/* Корабль */
#ship {
	background: #e4e9ed;
	width: 1920px;
	height: 1080px;
	position: absolute;
}
.arrow {
	position: absolute;
	display: none;
	z-index: 10;
}
#arrowUP {
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}
#arrowDown {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}
#arrowRight {
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
}
#arrowLeft {
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
}
#pl {
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 8px 0;
	z-index: 7;
}
#places {
	position: relative;
	padding: 8px 0;
	background: #fff;
	width: 230px;
}
#places a:before {
	position: absolute;
	display: block;
	left: -8px;
	width: 8px;
	height: 40px;
	content: '';
}
#places a {
	display: block;
	position: relative;
	right: -8px;
	padding-left: 20px;
	line-height: 40px;
	font-size: 12px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'FedraSansAltPro-MediumTF';
}
#places a:hover {
	text-decoration: underline;
}
#places a.active {
	color: #fff;
	background: #50b848;
}
#places a.active:before {
	background: #63d15b;
}

#mouse {
	display: block;
	font-family: 'FedraSansAltPro-BookTF';
	background: url(../img/mouse.png) left center no-repeat;
	font-family: 'FedraSansAltPro-BookTF';
	font-size: 14px;
	color: #000000;
	margin: 0;
	line-height: 30px;
	height: 30px;
	padding-left: 35px;
	margin-left: 27px;
	margin-top: 26px;
}

#pc a {
	display: block;
	position: absolute;
	width: 34px;
	height: 34px;
	background: url(../img/circle.png) center center no-repeat;
	text-decoration: none;
	z-index: 6;
}

#pc1 {
    top: 400px;
    left: 1240px;
}
#pc2 {
    top: 525px;
    left: 1000px;
}
#pc3 {
    top: 525px;
    left: 1245px;
}
#pc4 {
    left: 500px;
    top: 780px;
}
#pc5 {
    top: 690px;
    left: 330px;
}
#pc6 {
    top: 610px;
    left: 750px;
}
#pc {
    top: 400px;
    left: 1240px;
}
#clouds img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
#clouds img#c1 {
	top: 345px;
}
#clouds img#c2 {
	top: 215px;
}
#clouds img#c3 {
	top: 80px;
}
#clouds img#c4 {
	top: 480px;
}
#clouds img#c5 {
	top: 45px;
}
#myship {
	position: absolute;
	left: 50px;
	top: 170px;
	z-index: 4;
}
#water {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 5;
}
#ice {
    position: absolute;
    left: 120%;
    bottom: 70px;
    z-index: 5;
}
#dron {
	position: absolute;
	z-index: 5;
	left: 1462px;
	top: 531px;
}
/* Интро */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0,0,0,0.5);
}

#firstScreen {
	width: 675px;
	height: 690px;
	position: fixed;
	top: 50%;
	margin-top: -345px;
	left: 50%;
	margin-left: -337.5px;
	z-index: 10;
}

#firstScreen .top {
	width: 675px;
	height: 405px;
	background: #f6dc34;
}

#firstScreen .bottom {
	width: 675px;
	height: 285px;
	position: relative;
}

#firstScreen .bottom div {
	height: 95px;
	background: #f6dc34;
	position: absolute;
	
}

#firstScreen .bottom .sq1 {
	width: 390px;
	top: 0;
	left: 0;
}

#firstScreen .bottom .sq2 {
	width: 95px;
	top: 0;
	left: 390px;
}

#firstScreen .bottom .sq3 {
	width: 95px;
	top: 0;
	right: 95px;
	opacity: 0.9;
}

#firstScreen .bottom .sq4 {
	width: 95px;
	top: 0;
	right: 0;
	opacity: 0.8;
}

#firstScreen .bottom .sq5 {
	width: 95px;
	top: 95px;
	right: 190px;
	opacity: 0.9;
}

#firstScreen .bottom .sq6 {
	width: 95px;
	top: 95px;
	right: 95px;
	opacity: 0.8;
}

#firstScreen .bottom .sq7 {
	width: 95px;
	top: 95px;
	right: 0;
	opacity: 0.6;
}

#firstScreen .bottom .sq8 {
	width: 95px;
	top: 190px;
	right: 0;
	opacity: 0.5;
}

.fScont h3 {
	margin: 0;
	display: block;
	padding: 0;
	font-family: 'FedraSansAltPro-BookTF';
	font-weight: normal;
	color: #000;
	font-size: 48px;
	position: absolute;
	top: 40px;
	text-indent: 35px;
	width: 100%;
}

.fScont h3.tank {
	overflow: hidden;
	left: 0;
}
.tanks {
    display: block;
    top: 0;
    background: #f6dc34;
    position: absolute;
    width: 700px;
    text-indent: 5px;
    left: -105px;

}
#sH .tanks {

}

.fScont>h3:nth-child(2) {
	top: 100px;
}

.fScont>img {
	top: 305px;
	left: 35px;
	display: block;
	position: absolute;
}

.fScont p {
	margin: 0;
	display: block;
	padding: 0;
	font-family: 'FedraSansAltPro-BookTF';
	color: #000;
	font-size: 22px;
	position: absolute;
	top: 180px;
	width: 525px;
	left: 35px;
}

.fScont a {
	margin: 0;
	display: block;
	padding: 0;
	font-family: 'FedraSansAltPro-MediumTF';
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	position: absolute;
	top: 388px;
	width: 186px;
	line-height: 67px;
	background: #50b849;
	text-align: center;
	right: 50px;
}

.fScont a:hover {
	background: #41913b;
}

